<div class="container">
    <div class="imageBox">
        <img alt="" [src]="'https://crud-q1vb.onrender.com/'+  taskDetails.image " class="w-100">
    </div>
    <div class="d-flex justify-content-between align-items-baseline my-3">
        <h1 class="card-title ">{{ taskDetails.title }}</h1>
        <button  mat-raised-button color="warn" (click)="complete()">Complete</button>
    </div>
    <p class="card-subtitle mb-2 text-muted">Dead-Line Date : {{ taskDetails.deadline }}</p>
    <hr>
    <p class="card-text">{{ taskDetails.description }}</p>
</div>